@import './mixins.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 14px;
    font-weight: 500;
    color: #B5B7C0;
  }
}

.pagination {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;

  @include onMobile {
    gap: 8px;
  }

  &__numbers {
    display: flex;
    align-items: center;
    gap: 12px;

    @include onMobile {
      gap: 8px;
    }
  }
}

.pagination a,
.pagination span {
  color: #404B52;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25px;
  height: 25px;
  text-decoration: none;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  background-color: #F5F5F5;

    @include onMobile {
      width: 18px;
      height: 18px;
      font-size: 10px;
    }

}

.pagination a.active {
  background-color: #5932EA;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination span {
  padding: 8px 14px;
  border: none;
  background-color: transparent;

  @include onMobile {
    padding: 8px 2px;
  }
  
}