@import "./sidebar.scss";
@import "./pagination.scss";
@import './customers.scss';

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.dashboard {
  display: flex;
}


